@media (min-width: 1600px) and (max-width: 1800px) {

    .wsus__portfolio_2_item {
        height: 590px;
    }

    .wsus__testimonial_2 .slick-list.draggable {
        padding: 0px 250px !important;
    }

    .wsus__banner_3 .wsus__banner_img .img {
        height: 670px;
    }

    .wsus__services_2,
    .wsus__faq {
        padding-left: 63px;
    }
}

@media (min-width: 1400px) and (max-width: 1599.99px) {

    /* ==========================
        HOME PAGE 01 START
    ========================== */
    .wsus__banner_img .img {
        height: 700px;
    }

    .about_text {
        padding-left: 30px;
    }

    .wsus_portfolio_item {
        height: 350px;
    }

    .wsus_portfolio_text b {
        font-size: 18px;
    }

    .wsus__single_testimonial_text {
        max-width: 69%;
    }

    .call_to_action_text {
        padding: 50px 25px;
    }

    .call_to_action_text a {
        width: 90px;
        height: 90px;
    }

    .wsus__events_text ul li a b {
        max-width: 59%;
    }

    .right_menu li .wsus__droap_cart {
        left: auto;
        right: 0;
    }

    .progress-wrap {
        right: 30px;
        bottom: 30px;
    }

    /* ==========================
        HOME PAGE 01 END
    ========================== */

    /* ==========================
        HOME PAGE 02 START
    ========================== */
    .wsus__portfolio_2_item {
        height: 520px;
    }

    .wsus__portfolio_2_item .text {
        padding: 35px;
    }

    .wsus__testimonial_2 .slick-list.draggable {
        padding: 0px 200px !important;
    }

    .wsus__single_event_2_text {
        padding: 35px;
    }

    /* ==========================
        HOME PAGE 02 END
    ========================== */

    /* ==========================
        HOME PAGE 03 START
    ========================== */
    .wsus__banner_3 .wsus__banner_text {
        padding-top: 110px;
    }

    .wsus__banner_3 .wsus__banner_text h1 {
        font-size: 62px;
    }

    .wsus__footer_3_call h2 {
        max-width: 450px;
    }

    .wsus__services_2,
    .wsus__faq {
        padding-left: 50px;
    }

    .footer_3::after {
        width: 110px;
        height: 120px;
        top: 250px;
    }

    .wsus__single_services_2 {
        padding: 40px 30px;
    }

    .wsus__case_studies .nextArrow,
    .wsus__case_studies .prevArrow,
    .wsus__blog_3 .nextArrow,
    .wsus__blog_3 .prevArrow {
        right: 40px;
    }

    .wsus__case_studies .prevArrow,
    .wsus__blog_3 .prevArrow {
        right: 100px;
    }

    .wsus__about_us_2_img .text {
        left: auto;
        right: -60px;
    }

    .wsus__services_2_banner {
        height: 817px;
    }

    .home_3 .wsus__faq_text {
        margin-top: 0;
    }

    /* ==========================
        HOME PAGE 03 END
    ========================== */

    .wsus__team_details_top h2,
    .wsus__team_details_contact h2 {
        font-size: 38px;
    }
}

@media (min-width: 1200px) and (max-width: 1399.99px) {

    /* ==========================
        HOME PAGE 01 START
    ========================== */
    .wsus__banner_text h1 {
        font-size: 66px;
    }

    .wsus__banner_img .img {
        height: 690px;
    }

    .wsus__banner_text p {
        max-width: 100%;
    }

    .single_counter h2,
    .single_counter h2 span {
        font-size: 94px;
    }

    .wsus__features_img {
        height: 200px;
    }

    .wsus_portfolio_item {
        height: 410px;
    }

    .wsus__single_img {
        height: 320px;
    }

    .wsus__single_testimonial_text {
        max-width: 64%;
        padding: 25px;
    }

    .wsus__footer_instagram ul li a {
        width: 65px;
        height: 65px;
    }

    .wsus__events_text ul li a b {
        max-width: 100%;
    }

    .call_to_action_text {
        padding: 50px 30px 50px 20px;
    }

    .call_to_action_text h4 {
        font-size: 24px;
    }

    .call_to_action::after {
        width: 170px;
        height: 115px;
    }

    .call_to_action_text a {
        width: 90px;
        height: 90px;
    }

    .call_to_action_text ul {
        margin-bottom: 30px;
    }

    .wsus__single_blog_img {
        height: 210px;
    }

    .main_menu .navbar-nav .nav-item .nav-link {
        margin: 0px 20px;
    }

    .about_text {
        padding-left: 30px;
    }

    .right_menu li .wsus__droap_cart {
        left: auto;
        right: 0;
    }

    .progress-wrap {
        right: 30px;
        bottom: 30px;
    }

    /* ==========================
        HOME PAGE 01 END
    ========================== */

    /* ==========================
        HOME PAGE 02 START
    ========================== */
    .wsus__single_service_img {
        height: 240px;
    }

    .wsus__portfolio_2_item {
        height: 595px;
    }

    .wsus__single_team_2 {
        height: 510px;
    }

    .wsus__testimonial_2 .slick-list.draggable {
        padding: 0px 100px !important;
    }

    .wsus__single_event_2_img {
        width: 240px;
    }

    .wsus__single_event_2_text {
        width: 56%;
        padding: 30px;
    }

    .wsus__portfolio_2_item .text {
        padding: 35px;
    }

    /* ==========================
        HOME PAGE 02 END
    ========================== */

    /* ==========================
        HOME PAGE 03 START
    ========================== */
    .wsus__banner_3 .wsus__banner_text h1 {
        font-size: 54px;
    }

    .wsus__banner_3 .wsus__banner_text {
        padding-top: 110px;
    }

    .wsus__about_us_2_img .text {
        left: auto;
        right: -60px;
    }

    .wsus__about_us_2_img {
        height: 500px;
    }

    .wsus__services_2,
    .wsus__faq {
        padding-left: 45px;
    }

    .wsus__single_services_2 {
        padding: 25px 20px;
    }

    .wsus__single_services_2 .icon {
        margin-bottom: 15px;
    }

    .wsus__single_services_2 .title {
        font-size: 20px;
    }

    .wsus__single_services_2 p {
        margin-bottom: 20px;
    }

    .wsus__services_2_banner {
        height: 641px;
    }

    .wsus__footer_3_call h2 {
        max-width: 500px;
    }

    .wsus__video_text h2,
    .wsus__video_text h2 span {
        font-size: 64px;
    }

    .wsus__case_studies .nextArrow,
    .wsus__case_studies .prevArrow {
        right: 53px;
    }

    .wsus__case_studies .prevArrow {
        right: 112px;
    }

    .footer_3::after {
        width: 140px;
        height: 155px;
        top: 255px;
    }

    .wsus__blog_3 .nextArrow,
    .wsus__blog_3 .prevArrow {
        right: 30px;
    }

    .wsus__blog_3 .prevArrow {
        right: 90px;
    }

    .home_3 .wsus__faq_text .section_heading h2 {
        font-size: 40px;
    }

    .home_3 .wsus__faq_text {
        margin-top: 0;
    }

    .wsus__accordian_area {
        padding-right: 0;
    }

    /* ==========================
        HOME PAGE 03 END
    ========================== */

    /* ==========================
        BLOG DETAILS END
    ========================== */
    .wsus__blog_det_text_top .bg {
        padding: 30px;
    }

    .wsus__blog_det_thumbnail {
        height: 450px;
    }

    .wsus__blog_det_text ul li,
    .wsus__blog_det_text ol li {
        width: 100%;
    }

    .wsus__blog_det_text .details_quote {
        padding: 35px 150px 40px 35px;
    }

    .wsus__service_details_center_img {
        height: 230px;
    }

    .details_share_and_tags .share {
        margin-top: 25px;
    }

    .wsus__sidebar_post ul li .text {
        max-width: 52%;
    }

    /* ==========================
        BLOG DETAILS END
    ========================== */
    .wsus__breadcrumb {
        padding: 200px 0px 100px 0px;
    }

    .wsus__breadcrumb_text h1 {
        font-size: 52px;
    }

    .wsus__career_details_top .thumbnail {
        height: 490px;
    }

    .wsus__single_career {
        padding: 30px;
    }

    .wsus__billing_product li .text {
        width: 65%;
        margin-left: 20px;
    }

    .wsus__details_thumbnail {
        height: 440px;
    }

    .wsus__payment_option {
        margin-right: 0;
    }

    .wsus__payment_method {
        height: 95px;
    }

    .wsus__photo_gallery_item {
        height: 270px;
    }

    .wsus__portfolio_page .wsus_portfolio_item {
        height: 375px;
    }

    .wsus__single_pricing {
        padding: 30px;
    }

    .wsus__product_summary {
        margin-left: 35px;
    }

    .wsus__product_details_slide_show_img {
        height: 465px;
    }

    .wsus__product_details .nextArrow,
    .wsus__product_details .prevArrow {
        top: 520px;
    }

    .wsus__product_item .img {
        height: 320px;
    }

    .wsus__blog_single_comment .text {
        width: 86%;
    }

    .wsus__product__sidebar {
        padding: 25px;
    }

    .sidebar_hotline {
        height: 410px;
    }

    .wsus__details_img .img {
        height: 670px;
    }

    .wsus__team_details_top h2,
    .wsus__team_details_contact h2 {
        font-size: 36px;
    }

    .wsus__video_gallery_item {
        height: 320px;
    }
}

@media (min-width: 992px) and (max-width: 1199.99px) {

    /* ==========================
        HOME PAGE 01 START
    ========================== */
    .main_menu .navbar-brand {
        max-width: 100px;
    }

    .main_menu .navbar-nav .nav-item .nav-link {
        font-size: 13px;
        margin: 0px 15px;
    }

    .wsus__banner_text h1 {
        font-size: 56px;
    }

    .wsus__banner_text p {
        max-width: 100%;
    }

    .wsus__banner_img .img {
        height: 630px;
    }

    .banner_hotline {
        padding: 30px;
        gap: 30px;
    }

    .banner_hotline p {
        font-size: 24px;
        max-width: 200px;
    }

    .about_img_area {
        padding: 0px 35px;
    }

    .about_img {
        height: 370px;
    }

    .about_list_img {
        position: initial;
        margin-top: -75px;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    .about_text {
        padding-left: 0;
    }

    .single_counter h2,
    .single_counter h2 span {
        font-size: 84px;
    }

    .wsus__features_img {
        height: 255px;
    }

    .wsus_portfolio_item {
        height: 510px;
    }

    .wsus__single_img {
        height: 365px;
    }

    .wsus__single_testimonial_text {
        max-width: 58%;
        padding: 25px;
    }

    .call_to_action_text {
        padding: 40px 20px;
    }

    .call_to_action_text h4 {
        font-size: 26px;
    }

    .call_to_action::after {
        display: none;
    }

    .call_to_action_text a {
        width: 90px;
        height: 90px;
    }

    .call_to_action_text ul {
        margin-bottom: 20px;
    }

    .wsus__events_text ul li a b {
        max-width: 100%;
        font-size: 18px;
    }

    .wsus__events_text ul li a {
        padding: 20px;
    }

    .wsus__events_img {
        height: 420px;
        margin-left: 0;
    }

    .wsus__events_img .text {
        padding: 30px;
    }

    .wsus__single_blog_img {
        height: 265px;
    }

    .wsus__footer_instagram {
        padding-left: 0;
        margin-top: 50px;
    }

    .portfolio .slick-dots li button {
        width: 60px;
    }

    .right_menu li .wsus__droap_cart {
        left: auto;
        right: 0;
    }

    .progress-wrap {
        right: 30px;
        bottom: 30px;
    }

    /* =========================
        HOME PAGE 01 END
    ========================== */

    /* =========================
        HOME PAGE 02 START
    ========================== */
    .wsus__banner_2 .wsus__banner_text h1 {
        font-size: 80px;
    }

    .wsus__single_service_img {
        height: 200px;
    }

    .wsus__about_2_img {
        height: 540px;
    }

    .wsus__about_2_img::after {
        bottom: -20px;
        left: 20px;
    }

    .wsus__about_2_text h4 {
        font-size: 24px;
        line-height: 46px;
    }

    .wsus__about_2_text {
        padding-left: 30px;
    }

    .wsus__about_2_text .img {
        margin-top: 50px;
    }

    .wsus__portfolio_2_item {
        height: 500px;
    }

    .wsus__portfolio_2_item .text {
        padding: 30px;
    }

    .wsus__single_team_2 {
        height: 425px;
    }

    .call_to_action_2_bg {
        background-position: center left !important;
    }

    .wsus__testimonial_2 .slick-list.draggable {
        padding: 0px 100px !important;
    }

    .wsus__single_testimonial_2 {
        padding: 30px;
    }

    .wsus__single_event_2_img {
        width: 220px;
    }

    .wsus__single_event_2_text {
        width: 51%;
        padding: 25px;
    }

    /* =========================
        HOME PAGE 02 END
    ========================== */

    /* =========================
        HOME PAGE 03 START
    ========================== */
    .wsus__banner_3 .wsus__banner_text h1 {
        font-size: 46px;
        line-height: initial;
    }

    .wsus__banner_3 .wsus__banner_img .img {
        height: 575px;
    }

    .wsus__banner_3 .wsus__banner_text {
        padding-top: 125px;
    }

    .wsus__about_us_2_text ul li {
        width: 100%;
    }

    .wsus__about_us_2_text {
        padding-left: 30px;
    }

    .wsus__about_us_2_img {
        height: 500px;
    }

    .wsus__about_us_2_img .text {
        bottom: -30px;
        left: 10px;
    }

    .wsus__services_2,
    .wsus__faq {
        padding-left: 25px;
    }

    .wsus__services_2_banner {
        height: 615px;
    }

    .wsus__video_text h2,
    .wsus__video_text h2 span {
        font-size: 56px;
    }

    .wsus__single_case_studies {
        height: 275px;
    }

    .wsus__case_studies .nextArrow,
    .wsus__case_studies .prevArrow,
    .wsus__blog_3 .nextArrow,
    .wsus__blog_3 .prevArrow {
        right: 32px;
    }

    .wsus__case_studies .prevArrow,
    .wsus__blog_3 .prevArrow {
        right: 92px;
    }

    .wsus__single_testimonial_3_img .img {
        width: 270px;
        height: 355px;
    }

    .wsus__single_testimonial_3_text p {
        font-size: 24px;
        line-height: 44px;
    }

    .wsus__accordian_area .accordion-header button {
        font-size: 15px;
    }

    .home_3 .wsus__faq_text .section_heading h2 {
        font-size: 34px;
    }

    .footer_3 .wsus__footer_location {
        margin-top: 50px;
    }

    .footer_3::after {
        width: 135px;
        height: 150px;
        top: 255px;
    }

    .wsus__accordian_area {
        padding-right: 0;
    }

    /* =========================
        HOME PAGE 03 END
    ========================== */

    /* ==========================
        ABOUT PAGE START
    ========================== */
    .wsus__breadcrumb {
        padding: 200px 0px 100px 0px;
    }

    .wsus__breadcrumb_text h1 {
        font-size: 36px;
    }

    /* ==========================
        ABOUT PAGE END
    ========================== */

    /* ==========================
        BLOG DETAILS END
    ========================== */
    .wsus__blog_det_text_top .bg {
        padding: 30px;
    }

    .wsus__blog_det_thumbnail {
        height: 450px;
    }

    .wsus__blog_det_text ul li,
    .wsus__blog_det_text ol li {
        width: 100%;
    }

    .wsus__blog_det_text .details_quote {
        padding: 35px 150px 40px 35px;
    }

    .wsus__service_details_center_img {
        height: 195px;
    }

    .details_share_and_tags .share {
        margin-top: 25px;
    }

    .wsus__sidebar_post ul li .text {
        max-width: 52%;
    }

    /* ==========================
        BLOG DETAILS END
    ========================== */
    .wsus__career_details_top .thumbnail {
        height: 415px;
    }

    .wsus__single_career {
        padding: 30px;
    }

    .wsus__single_career h3 {
        font-size: 22px;
    }

    .wsus__billing_product li .text {
        width: 71%;
    }

    .wsus__error_area h2 {
        font-size: 52px;
    }


    .wsus__details_thumbnail {
        height: 370px;
    }

    .wsus__service_details_text ul li,
    .wsus__service_details_text ol li {
        width: 100%;
    }

    .wsus__payment_option {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .wsus__payment .modal .modal-content {
        padding: 15px 20px 5px 20px;
    }

    .wsus__payment_method {
        height: 120px;
    }

    .wsus__photo_gallery_item {
        height: 220px;
    }

    .wsus__portfolio_page .wsus_portfolio_item {
        height: 310px;
    }

    .wsus__single_pricing {
        padding: 25px;
    }

    .wsus__product_summary {
        margin-left: 25px;
    }

    .wsus__product_summary h2 {
        font-size: 32px;
    }

    .wsus__product_details_slide_show_img {
        height: 470px;
    }

    .wsus__product_details .nextArrow,
    .wsus__product_details .prevArrow {
        top: 525px;
    }

    .wsus__product_description_text,
    .wsus__product_additional_info_text {
        margin-left: 30px;
    }

    .wsus__product_description_img,
    .wsus__product_additional_info_img {
        height: 375px;
    }

    .wsus__product_item .img {
        height: 365px;
    }

    .wsus__product__sidebar {
        padding: 25px;
    }

    .sidebar_hotline {
        height: 340px;
    }

    .sidebar_download ul li a,
    .sidebar_category ul li a {
        font-size: 15px;
    }

    .wsus__details_img .img {
        height: 560px;
    }

    .wsus__team_details_top ul {
        position: initial;
        margin-top: 10px;
    }

    .wsus__team_details_top h2,
    .wsus__team_details_contact h2 {
        font-size: 32px;
    }

    .wsus__video_gallery_item {
        height: 270px;
    }
}

@media (min-width: 768px) and (max-width: 991.99px) {

    /* ==========================
        HOME PAGE 01 START
    ========================== */
    .wsus__header_right {
        justify-content: center;
    }

    .main_menu {
        background: var(--colorWhite);
        border-bottom: 1px solid #ddd;
    }

    .main_menu .container {
        padding: 7px 0px;
    }

    .main_menu .container::after {
        display: none;
    }

    .main_menu .navbar-brand {
        margin-left: 12px;
    }

    .main_menu .navbar-nav {
        background: var(--colorWhite);
        border-top: 1px solid #ddd;
        line-height: 55px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #navbarSupportedContent {
        margin-top: 14px;
    }

    .main_menu .right_menu {
        background: var(--colorWhite);
        border-top: 1px solid #ddd;
        margin-top: -1px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        border-bottom: 1px solid #ddd;
    }

    .main_menu .wsus__droap_menu {
        left: 25px;
        max-height: 230px;
    }

    .right_menu li .wsus__droap_cart {
        display: none;
    }

    .wsus__banner_text {
        padding-top: 207px;
    }

    .wsus__banner_text p {
        max-width: 100%;
    }

    .banner_hotline {
        display: none;
    }

    .wsus__banner {
        height: auto;
        margin-bottom: 0;
    }

    .wsus__banner_img .img {
        height: 800px;
        margin-top: 25px;
    }

    .about_img {
        margin-bottom: 50px;
    }

    .about_text {
        padding-left: 0;
    }

    .section_heading h2,
    .section_heading h2 span {
        font-size: 40px;
        line-height: initial;
    }

    .single_counter h2,
    .single_counter h2 span {
        font-size: 64px;
    }

    .wsus__features_img {
        height: 190px;
    }

    .wsus_portfolio_item {
        height: 390px;
    }

    .portfolio .slick-dots li button {
        width: 30px;
    }

    .wsus__single_img {
        height: 415px;
    }

    .wsus__single_testimonial_text {
        max-width: 71%;
    }

    .wsus__single_testimonial_text::after {
        top: 10px;
        right: 15px;
    }

    .plaay_btn {
        width: 90px;
        height: 90px;
        line-height: 90px;
    }

    .call_to_action_text {
        padding: 30px;
    }

    .call_to_action::after {
        display: none;
    }

    .wsus__events_text ul li a b {
        max-width: 64%;
    }

    .wsus__events_img .text {
        padding: 30px;
    }

    .wsus__events_text {
        padding-right: 0;
    }

    .wsus__events_img {
        height: 630px;
        margin-left: 0;
        margin-top: 25px;
    }

    .wsus__single_blog_img {
        height: 195px;
    }

    .wsus__footer_link,
    .wsus__footer_instagram {
        margin-top: 50px;
    }

    .wsus__footer_instagram {
        padding-left: 0;
    }

    .wsus__logo_area p {
        margin-bottom: 20px;
    }

    .wsus__footer_instagram ul li a {
        width: 65px;
        height: 65px;
    }

    .wsus_portfolio_text {
        padding: 60px 20px 20px 20px;
    }

    .call_to_action_text a {
        width: 90px;
        height: 90px;
    }

    .progress-wrap {
        right: 20px;
        bottom: 20px;
    }

    /* ==========================
        HOME PAGE 01 END
    ========================== */

    /* ==========================
        HOME PAGE 02 START
    ========================== */
    .wsus__banner_2 {
        padding-bottom: 100px;
    }

    .wsus__single_service_img {
        height: 230px;
    }

    .wsus__about_2_img {
        height: 585px;
        margin-right: 25px;
        margin-bottom: 50px;
    }

    .wsus__about_2_text .top p {
        max-width: 33%;
    }

    .wsus__about_2_text h4 {
        font-size: 28px;
        line-height: initial;
    }

    .wsus__portfolio_2_item {
        height: 530px;
    }

    .wsus__portfolio_2_item .text {
        padding: 35px;
    }

    .wsus__how_it_work_item h4 {
        margin-top: 15px;
    }

    .wsus__single_team_2 {
        height: 480px;
    }

    .call_to_action_2_bg {
        padding: 60px;
        background-position: center left !important;
    }

    .wsus__testimonial_2 .slick-list.draggable {
        padding: 0px 0px !important;
    }

    .wsus__single_testimonial_2 {
        padding: 20px;
    }

    .wsus__single_pricing {
        padding: 30px;
    }

    .wsus__single_event_2_text {
        width: 55%;
    }

    .wsus__footer_subscription {
        padding: 50px;
    }

    .wsus__single_service_text {
        padding: 25px;
    }

    .wsus__footer_subscription h3 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .wsus__blog_2 {
        padding-bottom: 195px !important;
    }

    /* ==========================
        HOME PAGE 02 END
    ========================== */

    /* ==========================
        HOME PAGE 03 START
    ========================== */
    .wsus__banner_3 .wsus__banner_text p {
        max-width: 100%;
    }

    .wsus__banner_3 .wsus__banner_img .img::after {
        display: none;
    }

    .wsus__about_us_2_img {
        height: 565px;
    }

    .wsus__about_us_2_img .text {
        left: auto;
        right: -90px;
    }

    .wsus__about_us_2_text {
        padding-left: 0;
        margin-top: 20px;
    }

    .wsus__services_2,
    .wsus__faq {
        padding: 0px 12px !important;
    }

    .wsus__services_2_banner {
        height: 475px;
        margin-bottom: 25px;
    }

    .wsus__video_text h2,
    .wsus__video_text h2 span {
        font-size: 42px;
        line-height: initial;
    }

    .wsus__single_case_studies {
        height: 220px;
    }

    .wsus__single_testimonial_3_text {
        padding: 45px !important;
    }

    .wsus__single_testimonial_3_text p {
        font-size: 26px;
        line-height: 42px;
    }

    .wsus__single_testimonial_3_img .img {
        width: 300px;
        height: 385px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .wsus__accordian_area {
        padding-right: 0;
    }

    .wsus__faq_img {
        height: 470px;
        margin-top: 25px;
        margin-bottom: 60px;
    }

    .wsus__team_2 .wsus__single_img {
        height: 465px;
    }

    .wsus__consulation_img {
        height: 390px;
        margin-bottom: 25px;
    }

    .wsus__single_blog_3 {
        height: 300px;
    }

    .wsus__single_blog_3 .text {
        padding: 35px;
    }

    .footer_3::after {
        display: none;
    }

    .wsus__footer_3_call h2 {
        font-size: 36px;
        max-width: 50%;
        margin-bottom: 20px;
    }

    .wsus__footer_location {
        margin-top: 50px;
    }

    .wsus__banner_3 .wsus__banner_text h1 {
        font-size: 52px;
    }

    .wsus__banner_3 .wsus__banner_img .img {
        height: 530px;
    }

    .home_3 .main_menu .container {
        padding-right: 0;
        padding-left: 0;
    }

    .wsus__blog_3 .nextArrow,
    .wsus__blog_3 .prevArrow {
        right: 13px;
        top: -63px;
    }

    .wsus__blog_3 .prevArrow {
        right: 73px;
    }

    .wsus__footer_location ul li .text {
        max-width: 76%;
    }

    .footer_3 .wsus__footer_link,
    .footer_3 .wsus__footer_instagram {
        margin-top: 0;
        margin-bottom: 50px;
    }

    .footer_3 .wsus__footer_location {
        margin-top: 0;
    }

    .footer_3 .wsus__footer_copyright_area {
        margin-top: 50px !important;
    }

    .wsus__case_studies .nextArrow,
    .wsus__case_studies .prevArrow {
        right: 50px;
    }

    .wsus__case_studies .prevArrow {
        right: 110px;
    }

    .home_3 .wsus__team_2 .wsus__single_img {
        height: 305px;
    }

    .home_3 .wsus__faq_text {
        margin-top: 50px !important;
    }

    /* ==========================
        HOME PAGE 03 END
    ========================== */

    /* ==========================
        ABOUT PAGE START
    ========================== */
    .wsus__breadcrumb {
        padding: 180px 0px 80px 0px;
    }

    .wsus__breadcrumb_text h1 {
        font-size: 36px;
    }

    /* ==========================
        ABOUT PAGE END
    ========================== */

    /* ==========================
        BLOG DETAILS START
    ========================== */
    .wsus__blog_det_thumbnail {
        height: 335px;
    }

    .wsus__blog_det_text_top .bg {
        padding: 30px;
    }

    .wsus__blog_det_text_top {
        margin-top: -25px;
        padding-left: 0;
    }

    .wsus__blog_det_text_top h2 {
        font-size: 32px;
    }

    .wsus__blog_det_text ul li,
    .wsus__blog_det_text ol li {
        width: 100%;
    }

    .wsus__service_details_center_img {
        height: 220px;
    }

    .details_share_and_tags .share {
        margin-top: 25px;
    }

    .wsus__blog_det_area {
        margin-bottom: 20px;
    }

    .wsus__sidebar_post ul li .text {
        max-width: 75%;
    }

    /* ==========================
        BLOG DETAILS END
    ========================== */
    .wsus__career_details_top .thumbnail {
        height: 310px;
    }

    .wsus__single_career {
        padding: 20px;
    }

    .wsus__single_career h3 {
        font-size: 22px;
    }

    .wsus__cart_coupon form input {
        width: 100%;
    }

    .wsus__cart_coupon form .common_btn {
        margin-left: 0;
        margin-top: 10px;
    }

    .wsus__billing_product li .text {
        width: 80%;
    }

    .wsus__contact_info {
        margin-bottom: 25px;
    }

    .wsus__error_area h2 {
        font-size: 48px;
    }

    .wsus__details_thumbnail {
        height: 415px;
    }

    .wsus__event_details .wsus__accordian_area {
        margin-bottom: 55px;
    }

    .wsus__faq_page .wsus__faq_text {
        margin-bottom: 50px !important;
    }

    .wsus__payment_option {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .wsus__payment .modal .modal-content {
        padding: 15px 20px 5px 20px;
    }

    .wsus__payment_method {
        height: 120px;
    }

    .wsus__photo_gallery_item {
        height: 250px;
    }

    .wsus__service_details {
        margin-bottom: 50px;
    }

    .wsus__portfolio_page .wsus_portfolio_item {
        height: 350px;
    }

    .wsus__product_details_slide_show_img {
        height: 530px;
    }

    .wsus__product_summary {
        margin-top: 25px;
        margin-left: 0;
    }

    .wsus__product_summary h2 {
        font-size: 28px;
    }

    .wsus__product_description_text,
    .wsus__product_additional_info_text {
        margin-left: 0;
        margin-top: 30px;
    }

    .wsus__product_details .nextArrow,
    .wsus__product_details .prevArrow {
        top: 586px;
    }

    .wsus__product_description_img,
    .wsus__product_additional_info_img {
        height: 515px;
    }

    .wsus__blog_single_comment .text {
        width: 85%;
    }

    .wsus__product_item .img {
        height: 415px;
    }

    .sidebar_hotline {
        height: 800px;
    }

    .wsus__sign_form_area {
        margin: 0;
    }

    .wsus__details_img .img {
        height: 855px;
    }

    .wsus__team_details_area_text {
        margin-top: 50px;
    }

    .wsus__team_details_top h2,
    .wsus__team_details_contact h2 {
        font-size: 36px;
    }

    .wsus__video_gallery_item {
        height: 385px;
    }
}

@media (min-width: 576px) and (max-width: 767.99px) {

    /* ==========================
        HOME PAGE 01 END
    ========================== */
    .wsus__header_right {
        justify-content: center;
    }

    .main_menu {
        background: var(--colorWhite);
        border-bottom: 1px solid #ddd;
    }

    .main_menu .container {
        padding: 7px 0px;
    }

    .main_menu .container::after {
        display: none;
    }

    .main_menu .navbar-brand {
        margin-left: 12px;
    }

    .main_menu .navbar-nav {
        background: var(--colorWhite);
        border-top: 1px solid #ddd;
        line-height: 55px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #navbarSupportedContent {
        margin-top: 14px;
    }

    .main_menu .right_menu {
        background: var(--colorWhite);
        border-top: 1px solid #ddd;
        margin-top: -1px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        border-bottom: 1px solid #ddd;
    }

    .main_menu .wsus__droap_menu {
        left: 25px;
        max-height: 230px;
    }

    .right_menu li .wsus__droap_cart {
        display: none;
    }

    .wsus__banner_text {
        padding-top: 207px;
    }

    .wsus__banner_text h1 {
        font-size: 52px;
        line-height: initial;
    }

    .wsus__banner_text p {
        max-width: 100%;
    }

    .banner_hotline {
        display: none;
    }

    .wsus__banner {
        height: auto;
        margin-bottom: 0;
    }

    .wsus__banner_img .img {
        height: 715px;
        margin-top: 25px;
    }

    .about_img_area {
        padding: 0;
    }

    .about_img_area p {
        position: initial;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    .about_img {
        height: 335px;
    }

    .about_list_img {
        position: initial;
        margin: 10px 0px 25px 0px;
        width: 100%;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    .about_text {
        padding-left: 0;
    }

    .section_heading h2,
    .section_heading h2 span {
        font-size: 32px;
        line-height: initial;
    }

    .single_counter h2,
    .single_counter h2 span {
        font-size: 90px;
    }

    .single_counter {
        margin-top: 30px;
    }

    .wsus__features_img {
        height: 280px;
    }

    .wsus_portfolio_text b {
        font-size: 16px;
    }

    .portfolio_btn_area {
        text-align: start;
    }

    .wsus_portfolio_item {
        height: 290px;
    }

    .portfolio .slick-dots li button {
        width: 30px;
    }

    .wsus__single_img {
        height: 305px;
    }

    .wsus__single_testimonial_text {
        max-width: 63%;
    }

    .wsus__single_testimonial_text::after {
        top: 10px;
        right: 15px;
    }

    .plaay_btn {
        width: 90px;
        height: 90px;
        line-height: 90px;
    }

    .call_to_action_text {
        padding: 30px;
    }

    .call_to_action::after {
        display: none;
    }

    .wsus__events_text ul li a b {
        max-width: 100%;
    }

    .wsus__events_img .text {
        padding: 30px;
    }

    .wsus__events_text ul li a {
        padding: 25px;
    }

    .wsus__events_text {
        padding-right: 0;
    }

    .wsus__events_img {
        height: 470px;
        margin-left: 0;
        margin-top: 25px;
    }

    .wsus__single_blog_img {
        height: 300px;
    }

    .wsus__footer_link,
    .wsus__footer_instagram {
        margin-top: 50px;
    }

    .wsus__footer_instagram {
        padding-left: 0;
    }

    .wsus__logo_area p {
        margin-bottom: 20px;
    }

    .wsus__footer_instagram ul li a {
        width: 75px;
        height: 75px;
    }

    .wsus_portfolio_text {
        padding: 60px 20px 20px 20px;
    }

    .call_to_action_text a {
        width: 90px;
        height: 90px;
    }

    .progress-wrap {
        right: 20px;
        bottom: 20px;
    }

    /* ==========================
        HOME PAGE 01 END
    ========================== */

    /* ==========================
        HOME PAGE 02 START
    ========================== */
    .wsus__banner_2 {
        padding-bottom: 100px;
    }

    .wsus__single_service_img {
        height: 350px;
    }

    .wsus__about_2_img {
        height: 585px;
        margin-right: 25px;
        margin-bottom: 50px;
    }

    .wsus__about_2_text .top p {
        max-width: 50%;
    }

    .wsus__about_2_text h4 {
        font-size: 28px;
        line-height: initial;
    }

    .wsus__portfolio_2_item {
        height: 440px;
    }

    .wsus__portfolio_2_item .text {
        padding: 35px;
    }

    .wsus__how_it_work_item h4 {
        margin-top: 15px;
    }

    .wsus__single_team_2 {
        height: 355px;
    }

    .call_to_action_2_bg {
        padding: 30px;
    }

    .call_to_action_2_bg {
        padding: 30px;
        background-position: center left !important;
    }

    .wsus__testimonial_2 .slick-list.draggable {
        padding: 0px 0px !important;
    }

    .wsus__single_testimonial_2 {
        padding: 20px;
    }

    .wsus__single_event_2_img {
        width: 100%;
        height: 565px;
    }

    .wsus__single_event_2_text {
        width: 100%;
        padding: 30px;
        gap: 20px;
    }

    .wsus__footer_subscription {
        padding: 30px;
    }

    .wsus__footer_subscription h3 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .wsus__blog_2 {
        padding-bottom: 195px !important;
    }

    /* ==========================
        HOME PAGE 02 END
    ========================== */

    /* ==========================
        HOME PAGE 03 START
    ========================== */
    .wsus__banner_3 .wsus__banner_text p {
        max-width: 100%;
    }

    .wsus__banner_3 .wsus__banner_img .img::after {
        display: none;
    }

    .wsus__about_us_2_img {
        height: 570px;
    }

    .wsus__about_us_2_img .text {
        bottom: 15px;
        left: 15px;
    }

    .wsus__about_us_2_text {
        padding-left: 0;
        margin-top: 20px;
    }

    .wsus__about_us_2_text ul li {
        width: 100%;
    }

    .wsus__services_2,
    .wsus__faq {
        padding: 0px 12px !important;
    }

    .wsus__services_2_banner {
        height: 720px;
        margin-bottom: 25px;
    }

    .wsus__video_text h2,
    .wsus__video_text h2 span {
        font-size: 42px;
        line-height: initial;
    }

    .wsus__single_case_studies {
        height: auto;
    }

    .wsus__single_testimonial_3_text {
        padding: 45px !important;
    }

    .wsus__single_testimonial_3_text p {
        font-size: 26px;
        line-height: 42px;
    }

    .wsus__single_testimonial_3_img .img {
        width: 300px;
        height: 385px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .wsus__accordian_area {
        padding-right: 0;
    }

    .wsus__faq_img {
        height: 470px;
        margin-top: 25px;
        margin-bottom: 60px;
    }

    .wsus__team_2 .wsus__single_img {
        height: 465px;
    }

    .wsus__consulation_img {
        height: 390px;
        margin-bottom: 25px;
    }

    .wsus__single_blog_3 {
        height: auto;
    }

    .wsus__single_blog_3 .text {
        padding: 35px;
    }

    .footer_3::after {
        display: none;
    }

    .wsus__footer_3_call h2 {
        font-size: 36px;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .wsus__footer_location {
        margin-top: 50px;
    }

    .wsus__banner_3 .wsus__banner_text h1 {
        font-size: 52px;
    }

    .wsus__banner_3 .wsus__banner_img .img {
        height: 530px;
    }

    .home_3 .main_menu .container {
        padding-right: 0;
        padding-left: 0;
    }

    .wsus__blog_3 .nextArrow,
    .wsus__blog_3 .prevArrow {
        right: 13px;
        top: -63px;
    }

    .wsus__blog_3 .prevArrow {
        right: 73px;
    }

    .wsus__footer_location ul li .text {
        max-width: 76%;
    }

    .footer_3 .wsus__footer_link,
    .footer_3 .wsus__footer_instagram {
        margin-top: 0;
        margin-bottom: 50px;
    }

    .footer_3 .wsus__footer_location {
        margin-top: 0;
    }

    .footer_3 .wsus__footer_copyright_area {
        margin-top: 50px !important;
    }

    .home_3 .wsus__faq_text {
        margin-top: 50px !important;
    }

    /* ==========================
        HOME PAGE 03 END
    ========================== */

    /* ==========================
        ABOUT PAGE START
    ========================== */
    .wsus__breadcrumb {
        padding: 160px 0px 60px 0px;
    }

    .wsus__breadcrumb_text h1 {
        font-size: 32px;
    }

    /* ==========================
        ABOUT PAGE END
    ========================== */

    /* ==========================
        BLOG DETAILS START
    ========================== */
    .wsus__blog_det_thumbnail {
        height: 250px;
    }

    .wsus__blog_det_text_top .bg {
        padding: 20px;
    }

    .wsus__blog_det_text_top {
        margin-top: -25px;
        padding-left: 0;
    }

    .wsus__blog_det_text_top h2 {
        font-size: 26px;
    }

    .wsus__blog_det_text ul li,
    .wsus__blog_det_text ol li {
        width: 100%;
    }

    .wsus__blog_det_text .details_quote {
        padding: 25px !important;
    }

    .wsus__service_details_center_img {
        height: 340px;
    }

    .details_share_and_tags .share {
        margin-top: 25px;
    }

    .wsus__blog_det_area {
        margin-bottom: 20px;
    }

    .wsus__sidebar_post ul li .text {
        max-width: 75%;
    }

    /* ==========================
        BLOG DETAILS END
    ========================== */
    .wsus__pagination ul li a {
        width: 45px;
        height: 45px;
        line-height: 45px;
    }

    .wsus__career_details_top .thumbnail {
        height: 230px;
    }

    .wsus__single_career {
        padding: 25px;
    }

    .wsus__single_career h3 {
        font-size: 22px;
    }

    .wsus__billing_product li .text {
        width: 75%;
    }

    .wsus__contact_form h3 {
        font-size: 32px;
    }

    .wsus__contact_info {
        margin-bottom: 25px;
    }

    .wsus__error_area h2 {
        font-size: 42px;
    }

    .wsus__details_thumbnail {
        height: 310px;
    }

    .wsus__service_details_text ul li,
    .wsus__service_details_text ol li {
        width: 100%;
    }

    .wsus__event_details .wsus__accordian_area {
        margin-bottom: 55px;
    }

    .wsus__faq_page .wsus__faq_text {
        margin-bottom: 50px !important;
    }

    .wsus__payment_option {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .wsus__payment .modal .modal-content {
        padding: 15px 20px 5px 20px;
    }

    .wsus__payment .modal .modal-dialog {
        width: auto;
    }

    .wsus__payment_method {
        height: 90px;
    }

    .wsus__photo_gallery_item {
        height: 390px;
    }

    .wsus__service_details {
        margin-bottom: 50px;
    }

    .wsus__portfolio_page .wsus_portfolio_item {
        height: 545px;
    }

    .wsus__product_details_slide_show_img {
        height: 530px;
    }

    .wsus__product_summary {
        margin-top: 25px;
        margin-left: 0;
    }

    .wsus__product_summary h2 {
        font-size: 28px;
    }

    .wsus__product_description_text,
    .wsus__product_additional_info_text {
        margin-left: 0;
        margin-top: 30px;
    }

    .wsus__product_details .nextArrow,
    .wsus__product_details .prevArrow {
        top: 586px;
    }

    .wsus__product_description_img,
    .wsus__product_additional_info_img {
        height: 695px;
    }

    .wsus__blog_single_comment .text {
        width: 100%;
        margin-top: 10px;
    }

    .wsus__product_item .img {
        height: 300px;
    }

    .sidebar_hotline {
        height: 590px;
    }

    .sidebar_download ul li a,
    .sidebar_category ul li a {
        font-size: 18px;
    }

    .wsus__sign_form_area form {
        padding: 30px;
    }

    .wsus__details_img .img {
        height: 635px;
    }

    .wsus__team_details_top h2,
    .wsus__team_details_contact h2 {
        font-size: 28px;
    }

    .wsus__team_details_area_text {
        margin-top: 50px;
    }

    .wsus__team_details_top ul {
        position: initial;
        margin-top: 10px;
    }

    .wsus__video_gallery_item {
        height: 300px;
    }

    .wsus__breadcrumb_text ul li,
    .wsus__breadcrumb_text ul li a {
        font-size: 14px;
    }

    .wsus__breadcrumb_text ul::after {
        font-size: 14px;
    }

    .wsus__breadcrumb_text ul li a::after {
        top: 8px;
    }
}

@media (max-width: 575.99px) {

    /* ==========================
        HOME PAGE 01 START
    ========================== */
    .wsus__header_right {
        justify-content: center;
    }

    .main_menu {
        background: var(--colorWhite);
        border-bottom: 1px solid #ddd;
    }

    .main_menu .container {
        padding: 7px 0px !important;
    }

    .main_menu .container::after {
        display: none;
    }

    .main_menu .navbar-brand {
        margin-left: 12px;
    }

    .main_menu .navbar-nav {
        background: var(--colorWhite);
        border-top: 1px solid #ddd;
        line-height: 55px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #navbarSupportedContent {
        margin-top: 14px;
    }

    .main_menu .right_menu {
        background: var(--colorWhite);
        border-top: 1px solid #ddd;
        margin-top: -1px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        border-bottom: 1px solid #ddd;
    }

    .main_menu .wsus__droap_menu {
        left: 25px;
        max-height: 230px;
    }

    .right_menu li .wsus__droap_cart {
        display: none;
    }

    .wsus__banner_text {
        padding-top: 207px;
    }

    .wsus__banner_text h1 {
        font-size: 36px !important;
        line-height: initial;
    }

    .wsus__banner_text p {
        max-width: 100%;
    }

    .banner_hotline {
        display: none;
    }

    .wsus__banner {
        height: auto;
        margin-bottom: 0;
    }

    .wsus__banner_img .img {
        height: auto;
        margin-top: 25px;
    }

    .about_img_area {
        padding: 0;
    }

    .about_img_area p {
        position: initial;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    .about_img {
        height: auto;
    }

    .about_list_img {
        position: initial;
        margin: 10px 0px 25px 0px;
        width: 100%;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    .about_text {
        padding-left: 0;
    }

    .section_heading h2,
    .section_heading h2 span {
        font-size: 28px;
        line-height: initial;
    }

    .single_counter h2,
    .single_counter h2 span {
        font-size: 90px;
    }

    .single_counter {
        margin-top: 30px;
    }

    .wsus__features_img {
        height: auto;
    }

    .portfolio_btn_area {
        text-align: start;
    }

    .wsus_portfolio_item {
        height: auto !important;
    }

    .portfolio .slick-dots li button {
        width: 30px;
    }

    .wsus__single_img {
        height: auto;
    }

    .wsus__single_testimonial_img {
        width: 100%;
        height: auto;
    }

    .wsus__single_testimonial_text {
        max-width: 100%;
    }

    .wsus__single_testimonial_text::after {
        top: 10px;
        right: 15px;
    }

    .plaay_btn {
        width: 90px;
        height: 90px;
        line-height: 90px;
    }

    .call_to_action_text {
        padding: 30px;
    }

    .call_to_action::after {
        display: none;
    }

    .wsus__events_text ul li a b {
        max-width: 100%;
    }

    .wsus__events_img .text {
        padding: 10px;
    }

    .wsus__events_text ul li a {
        padding: 25px;
    }

    .wsus__events_text {
        padding-right: 0;
    }

    .wsus__events_img {
        height: auto;
        margin-left: 0;
        margin-top: 25px;
    }

    .wsus__single_blog_img {
        height: auto;
    }

    .wsus__footer_link,
    .wsus__footer_instagram {
        margin-top: 50px;
    }

    .wsus__footer_instagram {
        padding-left: 0;
    }

    .wsus__logo_area p {
        margin-bottom: 20px;
    }

    .call_to_action_text h4 {
        font-size: 22px;
    }

    .progress-wrap {
        right: 20px;
        bottom: 20px;
    }

    /* ==========================
        HOME PAGE 01 END
    ========================== */

    /* ==========================
        HOME PAGE 02 START
    ========================== */
    .wsus__banner_2 {
        padding-bottom: 100px;
    }

    .wsus__single_service_img {
        height: auto;
    }

    .wsus__about_2_img {
        height: auto;
        margin-right: 25px;
        margin-bottom: 50px;
    }

    .wsus__about_2_text .top p {
        font-size: 16px;
        max-width: 58%;
    }

    .wsus__about_2_text h4 {
        font-size: 20px;
        line-height: initial;
    }

    .wsus__portfolio_2_item {
        height: auto;
    }

    .wsus__how_it_work_item h4 {
        margin-top: 15px;
    }

    .wsus__single_team_2 {
        height: auto;
    }

    .call_to_action_2_bg {
        padding: 30px;
    }

    .call_to_action_2_bg {
        padding: 30px;
        background-position: center left !important;
    }

    .wsus__testimonial_2 .slick-list.draggable {
        padding: 0px 0px !important;
    }

    .wsus__single_testimonial_2 {
        padding: 25px;
        margin: 0px 25px;
    }

    .wsus__single_event_2_img {
        width: 100%;
        height: auto;
    }

    .wsus__single_event_2_text {
        width: 100%;
        padding: 30px;
        gap: 20px;
    }

    .wsus__single_pricing {
        padding: 25px;
    }

    .wsus__footer_subscription {
        padding: 25px;
    }

    .wsus__footer_subscription h3 {
        font-size: 32px;
        text-align: center;
        margin-bottom: 20px;
    }

    .wsus__footer_subscription form button {
        position: initial;
        width: 100%;
    }

    .wsus__blog_2 {
        padding-bottom: 195px !important;
    }

    .wsus__single_pricing::after {
        width: 75px;
        height: 120px;
    }

    .testimonial_2_bottom_btn {
        font-size: 14px;
    }

    /* ==========================
        HOME PAGE 02 END
    ========================== */

    /* ==========================
        HOME PAGE 03 START
    ========================== */
    .wsus__banner_3 .wsus__banner_text p {
        max-width: 100%;
    }

    .wsus__banner_3 .wsus__banner_img .img::after {
        display: none;
    }

    .wsus__about_us_2_img {
        height: auto;
    }

    .wsus__about_us_2_img .text {
        position: relative;
        bottom: 30px;
        left: 0;
    }

    .wsus__about_us_2_text {
        padding-left: 0;
    }

    .wsus__about_us_2_text ul li {
        width: 100%;
    }

    .wsus__services_2,
    .wsus__faq {
        padding: 0px 12px !important;
    }

    .wsus__services_2_banner {
        height: auto;
        margin-bottom: 25px;
    }

    .wsus__video_text h2,
    .wsus__video_text h2 span {
        font-size: 42px;
        line-height: initial;
    }

    .wsus__single_case_studies {
        height: auto;
    }

    .wsus__single_testimonial_3_text {
        padding: 30px !important;
    }

    .wsus__single_testimonial_3_text p {
        font-size: 20px;
        line-height: 34px;
    }

    .wsus__single_testimonial_3_img .img {
        width: 260px;
        height: auto;
        margin: 0 auto;
        margin-top: 20px;
    }

    .wsus__accordian_area {
        padding-right: 0;
    }

    .wsus__faq_img {
        height: auto;
        margin-top: 25px;
        margin-bottom: 60px;
    }

    .wsus__accordian_area .accordion-header button {
        font-size: 16px;
    }

    .wsus__team_2 .wsus__single_img {
        height: auto;
    }

    .wsus__consulation_img {
        height: auto;
        margin-bottom: 25px;
    }

    .wsus__single_blog_3 {
        height: auto;
    }

    .wsus__single_blog_3 .text {
        padding: 20px;
    }

    .wsus__single_blog_3 .text .read_btn {
        margin-top: 15px;
        padding-top: 0;
    }

    .wsus__single_blog_3 .text .title {
        font-size: 18px;
        max-width: 100%;
    }

    .wsus__single_blog_3 .text p {
        margin-bottom: 10px;
    }

    .footer_3::after {
        display: none;
    }

    .wsus__footer_3_call h2 {
        font-size: 32px;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .wsus__footer_location {
        margin-top: 50px;
    }

    .home_3 .wsus__faq_text {
        margin-top: 50px !important;
    }

    /* ==========================
        HOME PAGE 03 END
    ========================== */


    /* ==========================
        ABOUT PAGE START
    ========================== */
    .wsus__breadcrumb {
        padding: 160px 0px 55px 0px;
    }

    .wsus__breadcrumb_text h1 {
        font-size: 26px;
    }

    /* ==========================
        ABOUT PAGE END
    ========================== */

    /* ==========================
        BLOG DETAILS START
    ========================== */
    .wsus__blog_det_thumbnail {
        height: auto;
    }

    .wsus__blog_det_text_top .bg {
        padding: 20px;
    }

    .wsus__blog_det_text_top {
        margin-top: -25px;
        padding-left: 0;
    }

    .wsus__blog_det_text_top h2 {
        font-size: 22px;
    }

    .wsus__blog_det_text ul li,
    .wsus__blog_det_text ol li {
        width: 100%;
    }

    .wsus__blog_det_text .details_quote {
        padding: 25px !important;
    }

    .wsus__service_details_center_img {
        height: auto;
    }

    .details_share_and_tags .share {
        margin-top: 25px;
    }

    .wsus__blog_det_area {
        margin-bottom: 20px;
    }

    .wsus__sidebar_post ul li .text {
        max-width: 52%;
    }

    /* ==========================
        BLOG DETAILS END
    ========================== */
    .wsus__pagination ul li a {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .wsus__career_details_top .thumbnail {
        height: auto;
    }

    .wsus__career_details_text h2 {
        font-size: 20px;
    }

    .wsus__single_career {
        padding: 20px;
    }

    .wsus__single_career h3 {
        font-size: 22px;
    }

    .wsus__cart_coupon form input {
        width: 100%;
    }

    .wsus__cart_coupon form .common_btn {
        margin-left: 0;
        margin-top: 10px;
    }

    .wsus__billing_product li .text {
        width: 56%;
        margin-left: 20px;
    }

    .wsus__billing_summary {
        padding: 15px 20px 35px;
    }

    .wsus__contact_info {
        padding: 25px;
        margin-bottom: 25px;
    }

    .wsus__contact_form h3 {
        font-size: 26px;
    }

    .wsus__error_area h2 {
        font-size: 36px;
    }

    .wsus__details_thumbnail {
        height: auto;
    }

    .wsus__service_details_text ul li,
    .wsus__service_details_text ol li {
        width: 100%;
    }

    .wsus__event_details .wsus__accordian_area {
        margin-bottom: 55px;
    }

    .wsus__faq_page .wsus__faq_text {
        margin-bottom: 50px !important;
    }

    .wsus__payment_option {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .wsus__payment .modal .modal-content {
        padding: 15px 20px 5px 20px;
    }

    .wsus__payment .modal .modal-dialog {
        width: auto;
    }

    .wsus__payment_method {
        height: auto;
    }

    .wsus__photo_gallery_item {
        height: auto;
    }

    .wsus__service_details {
        margin-bottom: 50px;
    }

    .wsus__product_details_slide_show_img {
        height: auto;
    }

    .wsus__product_details_slider {
        margin: 0px 0px;
    }

    .wsus__product_summary {
        margin-left: 0;
        margin-top: 20px;
    }

    .wsus__product_summary h2 {
        font-size: 24px;
    }

    .wsus__buy_cart_button {
        margin-left: 0;
        margin-top: 10px;
    }

    .wsus__blog_single_comment .text {
        width: 100%;
        margin-top: 10px;
    }

    .wsus__product_description_img {
        height: auto;
    }

    .wsus__product_description_text,
    .wsus__product_additional_info_text {
        margin-left: 0;
        margin-top: 35px;
    }

    .wsus__product_item .img {
        height: auto;
    }

    .wsus__product_additional_info_img {
        height: auto;
    }

    .sidebar_download ul li a,
    .sidebar_category ul li a {
        font-size: 15px;
    }

    .sidebar_hotline {
        height: auto;
    }

    .wsus__sign_form_area form {
        padding: 30px;
    }

    .wsus__details_img .img {
        height: auto;
    }

    .wsus__team_details_top h2,
    .wsus__team_details_contact h2 {
        font-size: 28px;
    }

    .wsus__team_details_area_text {
        margin-top: 50px;
    }

    .wsus__team_details_top ul {
        position: initial;
        margin-top: 10px;
    }

    .wsus__video_gallery_item {
        height: 250px;
    }

    .wsus__blog_3 .nextArrow,
    .wsus__blog_3 .prevArrow {
        display: none;
    }

    .wsus__blog_details_form {
        padding: 25px;
    }

    .wsus__breadcrumb_text ul li,
    .wsus__breadcrumb_text ul li a {
        font-size: 12px;
    }

    .wsus__breadcrumb_text ul::after {
        font-size: 12px;
    }

    .wsus__breadcrumb_text ul li a::after {
        top: 6px;
    }
}